In [1]:
import requests
import pandas as pd
import os
import json
from bs4 import BeautifulSoup

In [2]:
# IMPORT THE DATASET NBA Players 

df_players = pd.read_csv("../your-code/DATA/nba-players-stats/players.csv")
df_players.head()

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [3]:
# DROP UNWANTED COLUMNS

df_players.drop(columns=["Unnamed: 0","birth_city","birth_state","born"],inplace=True)

# RENAME COLUMNS 

df_players = df_players.rename(columns={"height": "Height","weight": "Weight","collage": "College"})


df_players.head()

            Player  Height  Weight                          College
0  Curly Armstrong   180.0    77.0               Indiana University
1     Cliff Barker   188.0    83.0           University of Kentucky
2    Leo Barnhorst   193.0    86.0         University of Notre Dame
3       Ed Bartels   196.0    88.0  North Carolina State University
4      Ralph Beard   178.0    79.0           University of Kentucky

In [4]:
# IMPORT THE DATASET NBA Player Data 

df_player_data = pd.read_csv("../your-code/DATA/nba-players-stats/player_data.csv")
df_player_data.head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

In [5]:
# DROP UNWANTED COLUMNS

df_player_data.drop(columns=["height","weight"],inplace=True)

# RENAME COLUMNS TO MATCH FOR MERGING

df_player_data = df_player_data.rename(columns={"name": "Player","year_start": "Rookie","year_end": "Retires","birth_date": "Birth Date","position": "Position", "college":"College"})


df_player_data.head()

,Player,Rookie,Retires,Position,Birth Date,College
0,Alaa Abdelnaby,1991,1995,F-C,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,"November 3, 1974",San Jose State University

In [6]:
# IMPORT THE DATASET NBA Season Stats 

df_season_stats = pd.read_csv("../your-code/DATA/nba-players-stats/Seasons_Stats.csv")
df_season_stats.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [7]:
# CHECK NUMBER OF MISSING VALUES IN DATAFRAMES

total_values = len(df_season_stats)
print(total_values)

df_season_stats.isnull().sum(axis = 0)

24691

Unnamed: 0        0
Year             67
Player           67
Pos              67
Age              75
Tm               67
G                67
GS             6458
MP              553
PER             590
TS%             153
3PAr           5852
FTr             166
ORB%           3899
DRB%           3899
TRB%           3120
AST%           2136
STL%           3899
BLK%           3899
TOV%           5109
USG%           5051
blanl         24691
OWS             106
DWS             106
WS              106
WS/48           590
blank2        24691
OBPM           3894
DBPM           3894
BPM            3894
VORP           3894
FG               67
FGA              67
FG%             166
3P             5764
3PA            5764
3P%            9275
2P               67
2PA              67
2P%             195
eFG%            166
FT               67
FTA              67
FT%             925
ORB            3894
DRB            3894
TRB             379
AST              67
STL            3894
BLK            3894
TOV            5046
PF               67
PTS              67
dtype: int64

In [8]:
# DROP UNWANTED COLUMNS

df_season_stats.drop(columns=["Unnamed: 0","blanl","blank2","Age","Year",],inplace=True)

# DELETE ROWS WHERE PLAYER IS MISSING

df_season_stats = df_season_stats[df_season_stats.Player.notnull()]
df_season_stats.isnull().sum(axis = 0)

# KEEP ONLY ROWS WITH AT LEAST 50 COLUMNS 

df_season_stats.dropna(thresh=50)

# RENAME COLUMNS 

#df_season_stats = dfseason_stats.rename(columns={"year_start": "Rookie","year_end": "Retires","birth_date": "Birth Date","position": "Position"})


df_season_stats.head()

,Player,Pos,Tm,G,GS,MP,PER,TS%,3PAr,FTr,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Curly Armstrong,G-F,FTW,63.0,NaN,NaN,NaN,0.368,NaN,0.467,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,Cliff Barker,SG,INO,49.0,NaN,NaN,NaN,0.435,NaN,0.387,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,Leo Barnhorst,SF,CHS,67.0,NaN,NaN,NaN,0.394,NaN,0.259,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,Ed Bartels,F,TOT,15.0,NaN,NaN,NaN,0.312,NaN,0.395,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,Ed Bartels,F,DNN,13.0,NaN,NaN,NaN,0.308,NaN,0.378,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [ ]:
# total = df_season_stats['G'].groupby(df_season_stats['Player'])

In [9]:
# MERGING ALL DATAFRAMES INTO 1

df_players_full = df_players.merge(df_player_data, on="Player")
complete_df = df_players_full.merge(df_season_stats, on="Player")
complete_df.head()

,Player,Height,Weight,College_x,Rookie,Retires,Position,Birth Date,College_y,Pos,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Curly Armstrong,180.0,77.0,Indiana University,1949,1951,G-F,"November 1, 1918",Indiana University,G-F,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,Curly Armstrong,180.0,77.0,Indiana University,1949,1951,G-F,"November 1, 1918",Indiana University,G-F,...,0.644,NaN,NaN,89.0,77.0,NaN,NaN,NaN,97.0,202.0
2,Cliff Barker,188.0,83.0,University of Kentucky,1950,1952,G,"January 15, 1921",University of Kentucky,SG,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
3,Cliff Barker,188.0,83.0,University of Kentucky,1950,1952,G,"January 15, 1921",University of Kentucky,SG,...,0.649,NaN,NaN,100.0,115.0,NaN,NaN,NaN,98.0,152.0
4,Cliff Barker,188.0,83.0,University of Kentucky,1950,1952,G,"January 15, 1921",University of Kentucky,SG,...,0.588,NaN,NaN,81.0,70.0,NaN,NaN,NaN,56.0,126.0

In [10]:
#DROPING DUPLICATE ROWS. KEEPING FIRST VALUE AS UNIQUE

complete_df.drop_duplicates(subset ="Player", 
                     keep = "first", inplace = True)
complete_df

,Player,Height,Weight,College_x,Rookie,Retires,Position,Birth Date,College_y,Pos,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Curly Armstrong,180.0,77.0,Indiana University,1949,1951,G-F,"November 1, 1918",Indiana University,G-F,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
2,Cliff Barker,188.0,83.0,University of Kentucky,1950,1952,G,"January 15, 1921",University of Kentucky,SG,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
5,Leo Barnhorst,193.0,86.0,University of Notre Dame,1950,1954,F-G,"May 11, 1924",University of Notre Dame,SF,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
10,Ed Bartels,196.0,88.0,North Carolina State University,1950,1951,F,"October 8, 1925",North Carolina State University,F,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
14,Ralph Beard,178.0,79.0,University of Kentucky,1950,1951,G,"December 2, 1927",University of Kentucky,G,...,0.762,NaN,NaN,NaN,233.0,NaN,NaN,NaN,132.0,895.0
16,Gene Berce,180.0,79.0,Marquette University,1950,1950,G-F,"November 22, 1926",Marquette University,G-F,...,0.000,NaN,NaN,NaN,2.0,NaN,NaN,NaN,6.0,10.0
17,Charlie Black,196.0,90.0,University of Kansas,1949,1952,F-C,"June 15, 1921",University of Kansas,F-C,...,0.651,NaN,NaN,NaN,163.0,NaN,NaN,NaN,273.0,661.0
21,Nelson Bobb,183.0,77.0,Temple University,1950,1953,G,"February 25, 1924",Temple University,PG,...,0.626,NaN,NaN,NaN,46.0,NaN,NaN,NaN,97.0,242.0
25,Jake Bornheimer,196.0,90.0,Muhlenberg College,1949,1950,F-C,"June 29, 1927",Muhlenberg College,F-C,...,0.667,NaN,NaN,NaN,40.0,NaN,NaN,NaN,111.0,254.0
26,Vince Boryla,196.0,95.0,University of Denver,1950,1954,F,"March 11, 1927",University of Denver,SF,...,0.764,NaN,NaN,NaN,95.0,NaN,NaN,NaN,203.0,612.0
31,Don Boven,193.0,95.0,Western Michigan University,1950,1953,F-G,"March 6, 1925",Western Michigan University,F-G,...,0.688,NaN,NaN,NaN,137.0,NaN,NaN,NaN,255.0,656.0
37,Harry Boykoff,208.0,102.0,St. John's University,1950,1951,C,"July 24, 1922",St. John's University,C,...,0.775,NaN,NaN,NaN,149.0,NaN,NaN,NaN,229.0,779.0
41,Joe Bradley,190.0,79.0,Oklahoma State University,1950,1950,G,"September 24, 1928",Oklahoma State University,G,...,0.395,NaN,NaN,NaN,36.0,NaN,NaN,NaN,51.0,87.0
42,Bob Brannum,196.0,97.0,Michigan State University,1950,1955,F-C,"May 28, 1925",Michigan State University,PF,...,0.690,NaN,NaN,NaN,205.0,NaN,NaN,NaN,279.0,713.0
47,Carl Braun,196.0,81.0,Colgate University,1948,1962,G-F,"September 25, 1927",Colgate University,G-F,...,0.762,NaN,NaN,NaN,247.0,NaN,NaN,NaN,188.0,1031.0
58,Frankie Brian,185.0,81.0,Louisiana State University,1950,1956,G,"May 1, 1923",Louisiana State University,G,...,0.824,NaN,NaN,NaN,189.0,NaN,NaN,NaN,192.0,1138.0
65,Price Brookfield,193.0,83.0,West Texas A&M University,1949,1950,F-G,"May 11, 1920",West Texas A&M University,F-G,...,0.923,NaN,NaN,NaN,1.0,NaN,NaN,NaN,7.0,34.0
66,Bob Brown,193.0,92.0,Miami University,1949,1950,F,"November 12, 1923",Miami University,F,...,0.683,NaN,NaN,NaN,101.0,NaN,NaN,NaN,269.0,724.0
67,Jim Browne,208.0,106.0,NaN,1949,1950,C,"January 1, 1930",NaN,C,...,0.481,NaN,NaN,NaN,8.0,NaN,NaN,NaN,16.0,47.0
68,Walt Budko,196.0,99.0,Columbia University,1949,1952,F-C,"July 30, 1925",Columbia University,PF,...,0.757,NaN,NaN,NaN,146.0,NaN,NaN,NaN,259.0,595.0
71,Jack Burmaster,190.0,86.0,University of Illinois at Urbana-Champaign,1950,1950,G,"December 23, 1926",University of Illinois at Urbana-Champaign,G,...,0.681,NaN,NaN,NaN,179.0,NaN,NaN,NaN,237.0,598.0
72,Tommy Byrnes,190.0,79.0,Seton Hall University,1947,1951,F-G,"February 19, 1923",Seton Hall University,F-G,...,0.702,NaN,NaN,NaN,88.0,NaN,NaN,NaN,76.0,327.0
77,Bill Calhoun,190.0,81.0,City College of San Francisco,1949,1955,F-G,"November 4, 1927",City College of San Francisco,SG,...,0.719,NaN,NaN,NaN,115.0,NaN,NaN,NaN,100.0,560.0
85,Don Carlson,183.0,77.0,University of Minnesota,1947,1951,G-F,"March 22, 1919",University of Minnesota,G-F,...,0.726,NaN,NaN,NaN,76.0,NaN,NaN,NaN,126.0,267.0
87,Bob Carpenter,196.0,90.0,East Texas State University,1950,1951,F-C,"November 6, 1917",East Texas State University,F-C,...,0.742,NaN,NaN,NaN,92.0,NaN,NaN,NaN,168.0,614.0
91,Jake Carter,193.0,88.0,East Texas State University,1950,1950,F-C,"July 25, 1924",East Texas State University,F-C,...,0.679,NaN,NaN,NaN,24.0,NaN,NaN,NaN,59.0,82.0
94,John Chaney,190.0,83.0,Louisiana State University,1950,1950,F-C,"February 29, 1920",Louisiana State University,F-C,...,0.690,NaN,NaN,NaN,20.0,NaN,NaN,NaN,23.0,70.0
97,Leroy Chollet,188.0,86.0,Canisius College,1950,1951,F,"March 5, 1925",Canisius College,F,...,0.625,NaN,NaN,NaN,37.0,NaN,NaN,NaN,52.0,157.0
99,Bill Closs,196.0,88.0,Rice University,1950,1952,F-C,"January 8, 1922",Rice University,SF,...,0.718,NaN,NaN,NaN,160.0,NaN,NaN,NaN,190.0,752.0
102,Paul Cloyd,188.0,81.0,University of Wisconsin,1950,1950,G-F,"June 13, 1920",University of Wisconsin,G-F,...,0.625,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,Chinanu Onuaku,208.0,111.0,University of Louisville,2017,2017,F-C,"November 1, 1996",University of Louisville,C,...,1.000,2.0,8.0,10.0,3.0,3.0,1.0,4.0,6.0,14.0
23430,Georgios Papagiannis,216.0,108.0,NaN,2017,2018,C,"July 3, 1997",NaN,C,...,0.857,24.0,62.0,86.0,20.0,3.0,17.0,24.0,44.0,124.0
23431,Gary Payton,193.0,81.0,Oregon State University,1991,2007,G,"July 23, 1968",Oregon State University,PG,...,0.600,0.0,12.0,12.0,13.0,3.0,4.0,10.0,9.0,20.0
23433,Marshall Plumlee,211.0,111.0,Duke University,2017,2017,C,"July 14, 1992",Duke University,C,...,0.421,23.0,28.0,51.0,10.0,4.0,4.0,12.0,23.0,40.0
23434,Jakob Poeltl,213.0,112.0,University of Utah,2017,2018,C,"October 15, 1995",University of Utah,C,...,0.544,78.0,87.0,165.0,12.0,17.0,20.0,29.0,113.0,165.0
23435,Alex Poythress,201.0,107.0,University of Kentucky,2017,2018,F,"September 6, 1993",University of Kentucky,PF,...,0.800,11.0,18.0,29.0,5.0,3.0,2.0,3.0,14.0,64.0
23436,Tim Quarterman,198.0,88.0,Louisiana State University,2017,2017,G,"October 27, 1994",Louisiana State University,SG,...,0.000,4.0,10.0,14.0,11.0,2.0,3.0,11.0,6.0,31.0
23437,Chasson Randle,188.0,83.0,Stanford University,2017,2017,G,"February 5, 1993",Stanford University,PG,...,0.953,6.0,26.0,32.0,34.0,9.0,2.0,19.0,39.0,137.0
23440,Malachi Richardson,198.0,92.0,Syracuse University,2017,2018,G,"January 5, 1996",Syracuse University,SG,...,0.789,3.0,20.0,23.0,11.0,5.0,1.0,8.0,23.0,79.0
23441,Domantas Sabonis,211.0,108.0,Gonzaga University,2017,2018,F-C,"May 3, 1996",Gonzaga University,PF,...,0.657,45.0,242.0,287.0,82.0,39.0,32.0,83.0,200.0,479.0
23442,Dario Saric,208.0,101.0,NaN,2017,2018,F,"April 8, 1994",NaN,PF,...,0.782,112.0,401.0,513.0,182.0,57.0,30.0,183.0,162.0,1040.0
23443,Tomas Satoransky,201.0,95.0,NaN,2017,2018,G,"October 30, 1991",NaN,SG,...,0.697,25.0,58.0,83.0,92.0,26.0,6.0,38.0,60.0,154.0
23444,Wayne Selden,196.0,104.0,University of Kansas,2017,2018,G-F,"September 30, 1994",University of Kansas,SG,...,0.636,1.0,15.0,16.0,13.0,6.0,1.0,12.0,18.0,71.0
23447,Pascal Siakam,206.0,104.0,New Mexico State University,2017,2018,F,"February 4, 1994",New Mexico State University,PF,...,0.688,64.0,121.0,185.0,17.0,26.0,45.0,33.0,109.0,229.0
23448,Diamond Stone,211.0,115.0,University of Maryland,2017,2017,C,"February 10, 1997",University of Maryland,C,...,1.000,1.0,5.0,6.0,0.0,0.0,1.0,2.0,5.0,10.0
23449,Edy Tavares,211.0,115.0,NaN,2016,2017,C,"March 22, 1992",NaN,C,...,0.000,4.0,7.0,11.0,1.0,0.0,6.0,2.0,3.0,8.0
23452,Isaiah Taylor,190.0,77.0,University of Texas at Austin,2017,2018,G,"July 11, 1994",University of Texas at Austin,PG,...,0.500,1.0,2.0,3.0,3.0,1.0,1.0,0.0,6.0,3.0
23453,Mike Tobey,213.0,117.0,University of Virginia,2017,2017,C,"October 10, 1994",University of Virginia,C,...,NaN,2.0,1.0,3.0,1.0,0.0,0.0,1.0,2.0,2.0
23454,Tyler Ulis,178.0,68.0,University of Kentucky,2017,2018,G,"January 5, 1996",University of Kentucky,PG,...,0.775,20.0,75.0,95.0,226.0,48.0,5.0,77.0,73.0,444.0
23455,Jarrod Uthoff,206.0,100.0,University of Iowa,2017,2017,F,"May 19, 1993",University of Iowa,PF,...,0.714,8.0,14.0,22.0,9.0,2.0,4.0,3.0,8.0,40.0
23456,Denzel Valentine,198.0,96.0,Michigan State University,2017,2018,G,"November 16, 1993",Michigan State University,SG,...,0.778,11.0,140.0,151.0,63.0,30.0,7.0,49.0,86.0,291.0
23457,Fred VanVleet,183.0,88.0,Wichita State University,2017,2018,G,"February 25, 1994",Wichita State University,PG,...,0.818,4.0,38.0,42.0,35.0,17.0,2.0,15.0,36.0,107.0
23458,Taurean Waller-Prince,183.0,88.0,NaN,2017,2018,F,"March 22, 1994",Baylor University,SF,...,0.787,25.0,132.0,157.0,55.0,43.0,27.0,61.0,96.0,335.0
23459,Okaro White,203.0,92.0,Florida State University,2017,2018,F,"August 13, 1992",Florida State University,PF,...,0.909,25.0,57.0,82.0,21.0,10.0,10.0,18.0,52.0,98.0
23460,Isaiah Whitehead,193.0,96.0,Seton Hall University,2017,2018,G,"March 8, 1995",Seton Hall University,PG,...,0.805,32.0,152.0,184.0,192.0,42.0,36.0,142.0,175.0,543.0
23461,Troy Williams,198.0,97.0,South Carolina State University,2017,2018,F,"December 30, 1994",Indiana University,SF,...,0.656,15.0,54.0,69.0,25.0,27.0,10.0,33.0,60.0,185.0
23464,Kyle Wiltjer,208.0,108.0,Gonzaga University,2017,2017,F,"October 20, 1992",Gonzaga University,PF,...,0.500,4.0,6.0,10.0,2.0,3.0,1.0,5.0,4.0,13.0
23465,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",2017,2017,C,"September 9, 1996","University of Nevada, Las Vegas",C,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
23466,Paul Zipser,203.0,97.0,NaN,2017,2018,G-F,"February 18, 1994",NaN,SF,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
23467,Ivica Zubac,216.0,120.0,NaN,2017,2018,C,"March 18, 1997",NaN,C,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [13]:
#print (complete_df.isin([' ','NULL',0]).mean())

In [12]:
# CHECK HOW MANY NULLS IN COLUMNS

complete_df.isnull().sum(axis = 0)

Player           0
Height           0
Weight           0
College_x      317
Rookie           0
Retires          0
Position         1
Birth Date       6
College_y      267
Pos              0
Tm               0
G                0
GS            1350
MP             228
PER            234
TS%             19
3PAr          1247
FTr             22
ORB%           886
DRB%           886
TRB%           738
AST%           559
STL%           886
BLK%           886
TOV%          1136
USG%          1123
OWS              6
DWS              6
WS               6
WS/48          234
OBPM           884
DBPM           884
BPM            884
VORP           884
FG               0
FGA              0
FG%             22
3P            1228
3PA           1228
3P%           1835
2P               0
2PA              0
2P%             26
eFG%            22
FT               0
FTA              0
FT%            214
ORB            884
DRB            884
TRB            202
AST              0
STL            884
BLK            884
TOV           1121
PF               0
PTS              0
dtype: int64

In [13]:
# DROP UNWANTED COLUMNS

complete_df.drop(columns=["Position","College_x"],inplace=True)

# RENAME COLUMNS 

complete_df = complete_df.rename(columns={"Pos": "Position",})


complete_df.head()

,Player,Height,Weight,Rookie,Retires,Birth Date,College_y,Position,Tm,G,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Curly Armstrong,180.0,77.0,1949,1951,"November 1, 1918",Indiana University,G-F,FTW,63.0,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
2,Cliff Barker,188.0,83.0,1950,1952,"January 15, 1921",University of Kentucky,SG,INO,49.0,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
5,Leo Barnhorst,193.0,86.0,1950,1954,"May 11, 1924",University of Notre Dame,SF,CHS,67.0,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
10,Ed Bartels,196.0,88.0,1950,1951,"October 8, 1925",North Carolina State University,F,TOT,15.0,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
14,Ralph Beard,178.0,79.0,1950,1951,"December 2, 1927",University of Kentucky,G,INO,60.0,...,0.762,NaN,NaN,NaN,233.0,NaN,NaN,NaN,132.0,895.0

In [37]:
complete_df = complete_df.loc[:, complete_df.isin([' ','NULL',0]).mean() < .4]
complete_df

,Unnamed: 0_x,Player,height_x,weight_x,collage,born,birth_city,birth_state,year_start,year_end,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN,1949,1951,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
2,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana,1950,1952,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
5,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN,1950,1954,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
10,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN,1950,1951,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
14,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky,1950,1951,...,0.762,NaN,NaN,NaN,233.0,NaN,NaN,NaN,132.0,895.0
16,5,Gene Berce,180.0,79.0,Marquette University,1926.0,NaN,NaN,1950,1950,...,0.000,NaN,NaN,NaN,2.0,NaN,NaN,NaN,6.0,10.0
17,6,Charlie Black,196.0,90.0,University of Kansas,1921.0,Arco,Idaho,1949,1952,...,0.651,NaN,NaN,NaN,163.0,NaN,NaN,NaN,273.0,661.0
21,7,Nelson Bobb,183.0,77.0,Temple University,1924.0,Philadelphia,Pennsylvania,1950,1953,...,0.626,NaN,NaN,NaN,46.0,NaN,NaN,NaN,97.0,242.0
25,8,Jake Bornheimer,196.0,90.0,Muhlenberg College,1927.0,New Brunswick,New Jersey,1949,1950,...,0.667,NaN,NaN,NaN,40.0,NaN,NaN,NaN,111.0,254.0
26,9,Vince Boryla,196.0,95.0,University of Denver,1927.0,East Chicago,Indiana,1950,1954,...,0.764,NaN,NaN,NaN,95.0,NaN,NaN,NaN,203.0,612.0
31,10,Don Boven,193.0,95.0,Western Michigan University,1925.0,Kalamazoo,Michigan,1950,1953,...,0.688,NaN,NaN,NaN,137.0,NaN,NaN,NaN,255.0,656.0
37,11,Harry Boykoff,208.0,102.0,St. John's University,1922.0,Brooklyn,New York,1950,1951,...,0.775,NaN,NaN,NaN,149.0,NaN,NaN,NaN,229.0,779.0
41,12,Joe Bradley,190.0,79.0,Oklahoma State University,1928.0,Washington,Oklahoma,1950,1950,...,0.395,NaN,NaN,NaN,36.0,NaN,NaN,NaN,51.0,87.0
42,13,Bob Brannum,196.0,97.0,Michigan State University,1925.0,NaN,NaN,1950,1955,...,0.690,NaN,NaN,NaN,205.0,NaN,NaN,NaN,279.0,713.0
47,14,Carl Braun,196.0,81.0,Colgate University,1927.0,Brooklyn,New York,1948,1962,...,0.762,NaN,NaN,NaN,247.0,NaN,NaN,NaN,188.0,1031.0
58,15,Frankie Brian,185.0,81.0,Louisiana State University,1923.0,Zachary,Louisiana,1950,1956,...,0.824,NaN,NaN,NaN,189.0,NaN,NaN,NaN,192.0,1138.0
65,16,Price Brookfield,193.0,83.0,West Texas A&M University,1920.0,Floydada,Texas,1949,1950,...,0.923,NaN,NaN,NaN,1.0,NaN,NaN,NaN,7.0,34.0
66,17,Bob Brown,193.0,92.0,Miami University,1923.0,Versailles,Ohio,1949,1950,...,0.683,NaN,NaN,NaN,101.0,NaN,NaN,NaN,269.0,724.0
67,18,Jim Browne,208.0,106.0,NaN,1930.0,Midlothian,Illinois,1949,1950,...,0.481,NaN,NaN,NaN,8.0,NaN,NaN,NaN,16.0,47.0
68,19,Walt Budko,196.0,99.0,Columbia University,1925.0,Kearney,New Jersey,1949,1952,...,0.757,NaN,NaN,NaN,146.0,NaN,NaN,NaN,259.0,595.0
71,20,Jack Burmaster,190.0,86.0,University of Illinois at Urbana-Champaign,1926.0,NaN,NaN,1950,1950,...,0.681,NaN,NaN,NaN,179.0,NaN,NaN,NaN,237.0,598.0
72,21,Tommy Byrnes,190.0,79.0,Seton Hall University,1923.0,Teaneck,New Jersey,1947,1951,...,0.702,NaN,NaN,NaN,88.0,NaN,NaN,NaN,76.0,327.0
77,22,Bill Calhoun,190.0,81.0,City College of San Francisco,1927.0,San Francisco,California,1949,1955,...,0.719,NaN,NaN,NaN,115.0,NaN,NaN,NaN,100.0,560.0
85,23,Don Carlson,183.0,77.0,University of Minnesota,1919.0,Minneapolis,Minnesota,1947,1951,...,0.726,NaN,NaN,NaN,76.0,NaN,NaN,NaN,126.0,267.0
87,24,Bob Carpenter,196.0,90.0,East Texas State University,1917.0,NaN,NaN,1950,1951,...,0.742,NaN,NaN,NaN,92.0,NaN,NaN,NaN,168.0,614.0
91,25,Jake Carter,193.0,88.0,East Texas State University,1924.0,NaN,NaN,1950,1950,...,0.679,NaN,NaN,NaN,24.0,NaN,NaN,NaN,59.0,82.0
94,27,John Chaney,190.0,83.0,Louisiana State University,1920.0,NaN,NaN,1950,1950,...,0.690,NaN,NaN,NaN,20.0,NaN,NaN,NaN,23.0,70.0
97,28,Leroy Chollet,188.0,86.0,Canisius College,1925.0,New Orleans,Louisiana,1950,1951,...,0.625,NaN,NaN,NaN,37.0,NaN,NaN,NaN,52.0,157.0
99,29,Bill Closs,196.0,88.0,Rice University,1922.0,Edge,Texas,1950,1952,...,0.718,NaN,NaN,NaN,160.0,NaN,NaN,NaN,190.0,752.0
102,30,Paul Cloyd,188.0,81.0,University of Wisconsin,1920.0,NaN,NaN,1950,1950,...,0.625,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,3892,Chinanu Onuaku,208.0,111.0,University of Louisville,1996.0,Baltimore,Maryland,2017,2017,...,1.000,2.0,8.0,10.0,3.0,3.0,1.0,4.0,6.0,14.0
23430,3893,Georgios Papagiannis,216.0,108.0,NaN,1997.0,Amarousio,Greece,2017,2018,...,0.857,24.0,62.0,86.0,20.0,3.0,17.0,24.0,44.0,124.0
23431,3894,Gary Payton,193.0,81.0,Oregon State University,1968.0,Oakland,California,1991,2007,...,0.600,0.0,12.0,12.0,13.0,3.0,4.0,10.0,9.0,20.0
23433,3895,Marshall Plumlee,211.0,111.0,Duke University,1990.0,Fort Wayne,Indiana,2017,2017,...,0.421,23.0,28.0,51.0,10.0,4.0,4.0,12.0,23.0,40.0
23434,3896,Jakob Poeltl,213.0,112.0,University of Utah,1995.0,Vienna,Austria,2017,2018,...,0.544,78.0,87.0,165.0,12.0,17.0,20.0,29.0,113.0,165.0
23435,3897,Alex Poythress,201.0,107.0,University of Kentucky,1993.0,Savannah,Georgia,2017,2018,...,0.800,11.0,18.0,29.0,5.0,3.0,2.0,3.0,14.0,64.0
23436,3898,Tim Quarterman,198.0,88.0,Louisiana State University,1994.0,Savannah,Georgia,2017,2017,...,0.000,4.0,10.0,14.0,11.0,2.0,3.0,11.0,6.0,31.0
23437,3899,Chasson Randle,188.0,83.0,Stanford University,1993.0,Rock Island,Illinois,2017,2017,...,0.953,6.0,26.0,32.0,34.0,9.0,2.0,19.0,39.0,137.0
23440,3900,Malachi Richardson,198.0,92.0,Syracuse University,1996.0,Trenton,New Jersey,2017,2018,...,0.789,3.0,20.0,23.0,11.0,5.0,1.0,8.0,23.0,79.0
23441,3901,Domantas Sabonis,211.0,108.0,Gonzaga University,1996.0,Portland,Oregon,2017,2018,...,0.657,45.0,242.0,287.0,82.0,39.0,32.0,83.0,200.0,479.0
23442,3902,Dario Saric,208.0,101.0,NaN,1994.0,Sibenik,Croatia,2017,2018,...,0.782,112.0,401.0,513.0,182.0,57.0,30.0,183.0,162.0,1040.0
23443,3903,Tomas Satoransky,201.0,95.0,NaN,1991.0,Prague,Czech Republic,2017,2018,...,0.697,25.0,58.0,83.0,92.0,26.0,6.0,38.0,60.0,154.0
23444,3904,Wayne Selden,196.0,104.0,University of Kansas,1994.0,Roxbury,Massachusetts,2017,2018,...,0.636,1.0,15.0,16.0,13.0,6.0,1.0,12.0,18.0,71.0
23447,3905,Pascal Siakam,206.0,104.0,New Mexico State University,1994.0,Douala,Cameroon,2017,2018,...,0.688,64.0,121.0,185.0,17.0,26.0,45.0,33.0,109.0,229.0
23448,3906,Diamond Stone,211.0,115.0,University of Maryland,1997.0,Milwaukee,Wisconsin,2017,2017,...,1.000,1.0,5.0,6.0,0.0,0.0,1.0,2.0,5.0,10.0
23449,3907,Edy Tavares,211.0,115.0,NaN,1997.0,NaN,NaN,2016,2017,...,0.000,4.0,7.0,11.0,1.0,0.0,6.0,2.0,3.0,8.0
23452,3908,Isaiah Taylor,190.0,77.0,University of Texas at Austin,1994.0,Hayward,California,2017,2018,...,0.500,1.0,2.0,3.0,3.0,1.0,1.0,0.0,6.0,3.0
23453,3909,Mike Tobey,213.0,117.0,University of Virginia,1994.0,Monroe,New York,2017,2017,...,NaN,2.0,1.0,3.0,1.0,0.0,0.0,1.0,2.0,2.0
23454,3910,Tyler Ulis,178.0,68.0,University of Kentucky,1996.0,Detroit,Michigan,2017,2018,...,0.775,20.0,75.0,95.0,226.0,48.0,5.0,77.0,73.0,444.0
23455,3911,Jarrod Uthoff,206.0,100.0,University of Iowa,1993.0,Cedar Rapids,Iowa,2017,2017,...,0.714,8.0,14.0,22.0,9.0,2.0,4.0,3.0,8.0,40.0
23456,3912,Denzel Valentine,198.0,96.0,Michigan State University,1993.0,Lansing,Michigan,2017,2018,...,0.778,11.0,140.0,151.0,63.0,30.0,7.0,49.0,86.0,291.0
23457,3913,Fred VanVleet,183.0,88.0,Wichita State University,1994.0,Rockford,Illinois,2017,2018,...,0.818,4.0,38.0,42.0,35.0,17.0,2.0,15.0,36.0,107.0
23458,3914,Taurean Waller-Prince,183.0,88.0,NaN,1994.0,NaN,NaN,2017,2018,...,0.787,25.0,132.0,157.0,55.0,43.0,27.0,61.0,96.0,335.0
23459,3915,Okaro White,203.0,92.0,Florida State University,1992.0,Clearwater,Florida,2017,2018,...,0.909,25.0,57.0,82.0,21.0,10.0,10.0,18.0,52.0,98.0
23460,3916,Isaiah Whitehead,193.0,96.0,Seton Hall University,1995.0,Brooklyn,New York,2017,2018,...,0.805,32.0,152.0,184.0,192.0,42.0,36.0,142.0,175.0,543.0
23461,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina,2017,2018,...,0.656,15.0,54.0,69.0,25.0,27.0,10.0,33.0,60.0,185.0
23464,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon,2017,2017,...,0.500,4.0,6.0,10.0,2.0,3.0,1.0,5.0,4.0,13.0
23465,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee,2017,2017,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
23466,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany,2017,2018,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
23467,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina,2017,2018,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [36]:
missing_values = len(complete_df) - complete_df.count()
display(missing_values)

Unnamed: 0_x       0
Player             0
height_x           0
weight_x           0
collage          317
                ...
STL              884
BLK              884
TOV             1121
PF                 0
PTS                0
Length: 63, dtype: int64

In [18]:
#complete_df = complete_df.drop(columns=["","blanl"])

In [19]:
# GET ALL COLUMN NAMES

for col in complete_df.columns: 
    print(col)

Unnamed: 0_x
Player
height_x
weight_x
collage
born
birth_city
birth_state
year_start
year_end
position
height_y
weight_y
birth_date
college
Unnamed: 0_y
Year
Pos
Age
Tm
G
GS
MP
PER
TS%
3PAr
FTr
ORB%
DRB%
TRB%
AST%
STL%
BLK%
TOV%
USG%
OWS
DWS
WS
WS/48
OBPM
DBPM
BPM
VORP
FG
FGA
FG%
3P
3PA
3P%
2P
2PA
2P%
eFG%
FT
FTA
FT%
ORB
DRB
TRB
AST
STL
BLK
TOV
PF
PTS

In [19]:
height_x_list = complete_df["height_x"].tolist()
height_y_list = complete_df["height_y"].tolist()
weight_x_list = complete_df["weight_x"].tolist()
weight_y_list = complete_df["weight_y"].tolist()

In [23]:
# print(height_x_list)
# HEIGHT X IS IN CM

In [24]:
# print(height_y_list)
# HEIGHT Y IS IN FEET

In [25]:
# print(weight_x_list)
# WEIGHT X IS IN KG

In [26]:
# print(weight_y_list)
# WEIGHT Y IS IN POUNDS

In [27]:
# DELETE HEIGHT AND WEIGHT NOT IN METRIC SYSTEM

complete_df = complete_df.drop(columns=["height_y","weight_y"])

In [ ]:
# DELETE UNWANTED COLUMNS

complete_df = complete_df.drop(columns=["Unnamed:0_x","Unnamed:0_y"])

In [ ]:
#SORT THE DATASET BY COLUMN NAME

#df_year = df.loc[df['Year'] == 1992]
#df_year

In [13]:
# CREATE LIST FROM DF COLUMN

# artist_list = df["Artist"].tolist()

In [23]:
url = "https://stats.nba.com/stats/drafthistory"
response = requests.get(url)
results = response.json()
nbadraft_df = pd.DataFrame(results)
nbadraft_df

ReadTimeout: HTTPSConnectionPool(host='stats.nba.com', port=443): Read timed out. (read timeout=None)

In [12]:
"""
querystring = {"s_artist_rating":"desc","q_artist":"pitbull","page":"1","page_size":"5"}

headers = {
    'x-rapidapi-host': "musixmatchcom-musixmatch.p.rapidapi.com",
    'x-rapidapi-key': "a324cdf9f1msh3b794688e0354fep15f24djsnc38768c3dac1"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response)
"""

<Response [401]>

NameError: name 'df_albums' is not defined

In [ ]:
#DELETING COLUMNS WITH USELESS DATA
full_df = full_df.drop(columns=["id","email", "zip_code","role","country","city", "year_of_birth"])
full_df.head()

In [ ]:
#GIVE INFO OF NUMERIC COLUMNS
full_df.describe()

In [ ]:
genre_list = full_df["genre"].tolist()

In [ ]:
genres = set(genre_list)
genres

In [ ]:
full_df = full_df.replace({"Black Metal": "Metal","Death Metal": "Metal","Heavy Metal": "Metal","Holy Metal": "Metal"})
full_df

In [ ]:
genres

In [ ]:
clean_genre_list = full_df["genre"].tolist()
new_genres = set(clean_genre_list)
new_genres

In [ ]:
artist_list = full_df["art_name"].tolist()
len(artist_list)
artist_set = set(artist_list)
artist_set